openapi: 3.0.3
info:
  title: API de Agendamento de Quadras Esportivas
  version: 1.0.0
  description: API para gerenciamento e reserva de quadras esportivas.
servers:
  - url: https://api.exemplo.com/v1
    description: Producao
paths:
  /quadras:
    get:
      summary: Listar quadras disponiveis
      operationId: listCourts
      tags:
        - Quadras
      responses:
        "200":
          description: Lista de quadras retornada com sucesso
        "500":
          description: Erro interno no servidor

  /agendamentos:
    get:
      summary: Listar todos os agendamentos
      operationId: listReservations
      tags:
        - Agendamentos
      responses:
        "200":
          description: Lista de agendamentos cadastrados
    post:
      summary: Criar um novo agendamento
      operationId: createReservation
      tags:
        - Agendamentos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NovoAgendamento"
      responses:
        "201":
          description: Agendamento realizado com sucesso
        "400":
          description: Dados invalidos

  /agendamentos/{id}:
    get:
      summary: Buscar detalhes de um agendamento
      operationId: getReservation
      tags:
        - Agendamentos
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Agendamento encontrado
        "404":
          description: Agendamento nao encontrado
    patch:
      summary: Modificar horario ou status do agendamento
      operationId: updateReservation
      tags:
        - Agendamentos
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AtualizarAgendamento"
      responses:
        "200":
          description: Agendamento atualizado com sucesso
        "400":
          description: Requisicao invalida
        "404":
          description: Agendamento nao encontrado
    delete:
      summary: Cancelar um agendamento
      operationId: cancelReservation
      tags:
        - Agendamentos
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Agendamento cancelado com sucesso
        "404":
          description: Agendamento nao encontrado

components:
  schemas:
    NovoAgendamento:
      type: object
      required:
        - quadraId
        - data
        - horarioInicio
        - horarioFim
        - nomeCliente
      properties:
        quadraId:
          type: string
          example: quadra-soccer-01
        data:
          type: string
          format: date
          example: 2026-05-25
        horarioInicio:
          type: string
          example: "19:00"
        horarioFim:
          type: string
          example: "20:00"
        nomeCliente:
          type: string
          example: Carlos Silva
          
    AtualizarAgendamento:
      type: object
      properties:
        horarioInicio:
          type: string
          example: "20:00"
        horarioFim:
          type: string
          example: "21:00"
        status:
          type: string
          enum:
            - confirmado
            - cancelado
          example: cancelado